$grey: #808080;
$blue: rgba(30,144,255,);
$white: rgba(255,255,255,.98);
$my-border: 1px solid black;

$breakpoints: (
  small: 768px,
  large: 992px,
);
@mixin mq($mq-breakpoint, $mq-breakpoints: $breakpoints) {
  // If $mq-breakpoint is a key that exists in
  // $mq-breakpoints, get and use the value
  @if map-has-key($mq-breakpoints, $mq-breakpoint) {
    $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
  }
  @media screen and (min-width: #{$mq-breakpoint}) {
    @content;
  }
}
.font-basic {
  font-family: helvetica;
  color: black;
  text-align: center;
}
.my-hover {
  color: $grey;
  text-decoration: none;
  -webkit-transition: color .1s;
  transition: color .1s;
}
.flex-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  wrap: nowrap;
}

#nav-container {
  @extend .flex-container;
  height: 3.2em;
  background: $white;
  justify-content: center;
  border-bottom: $my-border;
  position: sticky;
  top: 0;
}
#home-icon {
  padding: 12px;
  color: black;
  &:hover {
    @extend .my-hover;
  }
}
.navitem {
  flex: 1;
  max-width: 25em;
  &:hover {
    @extend .my-hover;
  }
  > p {
    @extend .font-basic;
    font-size: 16px;
    margin: 15px;
    font-weight: 200;
    &:hover {
      @extend .my-hover;
    }
  }
}
#my-banner {
  @extend .flex-container;
  justify-content: center;
  background: $blue;
  height: 2.5em;
  p {
    margin: .5em;
  }
}
.my-header {
  @extend .flex-container;
  justify-content: flex-start;
  margin: 1em;
  a {
    @extend .font-basic;
    font-size: 40px;
    font-weight: bold;
    &:hover {
      @extend .my-hover;
    }
  }
}
.my-img {
  max-width: 100%;
  padding: 2em;
}
