//hover psuedo-class colors//
$grey: #808080;
$yellow: #e4f03a;
$blue: rgba(30,144,255,);
$pink: #ff38f8;

//navbar and news page layout colors//
$light-grey: #f2f2f2;
$white: rgba(255,255,255,.98);
$my-border-black: 1px solid black;
$my-border-grey: 1px solid $grey;

//universal formatting variables//
$font-stack: helvetica, sans-serif;
$full-width: 100vw;
$partial-width: 60vw;
$half-height: 50vh;
